@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./public/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.input-bordered:focus,
.input-bordered:focus-within .btn:focus,
.btn:focus-within,
.radio:checked,
.radio:focus,
.radio:focus-within {
  @apply outline outline-blue-700;
}

.radio:checked {
  @apply bg-blue-700;
}
